@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 216 22% 16%;

    --card: 0 0% 100%;
    --card-foreground: 216 22% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 22% 16%;

    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 142 76% 88%;
    --secondary-foreground: 142 84% 24%;

    --muted: 210 40% 98%;
    --muted-foreground: 215 16% 47%;

    --accent: 142 76% 88%;
    --accent-foreground: 142 84% 24%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 210 100% 50%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 216 22% 8%;
    --foreground: 0 0% 98%;

    --card: 216 22% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 216 22% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 100% 60%;
    --primary-foreground: 216 22% 8%;

    --secondary: 142 30% 25%;
    --secondary-foreground: 142 76% 88%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 142 30% 25%;
    --accent-foreground: 142 76% 88%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 210 100% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
